.portfolio-item {
    display: inline-block;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    /* background-color: lightgrey; */
    background-color: rgba(21, 121, 99, 0.089);
    position: relative;
    color: rgb(0, 0, 0);
}

.portfolio-item:hover {
    cursor: pointer;
}

.portfolio-item:hover .overlay {
    opacity: 0.9;
  }

.img {
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
    padding: 1px;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.item-title{
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.item-code{
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-desc{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
